.transaction-details {
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  color: #64748b;
  padding: 10px;
  margin: 10px;
}
